.company {
    @media (max-width:580px){
        // padding: 30px 20px !important;
        padding: 0px 20px !important;
    }
    &__text {
        font-size: 20px;
        padding: 10px 0;
        line-height: 140%;
        @media (max-width:580px){
            font-size: 16px;
        }
    }
}