.services {

    &__title {
        padding-bottom: 20px;
    }

    &__left-block {
    }

    &__block {
        display: flex;
        width: 410px;
        padding-bottom: 15px;
        cursor: pointer;
        @media (max-width:490px){
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: auto;
        }
    }

    &__block-img {
        padding-right: 10px;
        position: relative;
    }

    &__block-src {
        @media (max-width:490px){
            padding-top: 10px;
            padding-bottom: 10px;
            width: 80%;
        }
        &_correct-1 {
            position: absolute;
            left: 25%;
            bottom: 70%;

            @media (max-width:490px){
                left: 23%;
                bottom: 45%;
                width: 35%;
                left: 19%;
            }   
        }
        &_correct-2 {
            position: absolute;
            left: 20%;
            bottom: 48%;
            @media (max-width:490px){
                width: 40%;
                left: 14%;
                bottom: 12%;
            }
        }
    }

    &__block-text {
        font-size: 28px;
        text-align: center;

        @media (max-width:1150px){
            font-size: 20px;
            width: 280px;
        }
        @media (max-width:490px){
            font-size: 18px;
        }

        &_right {
            padding-right: 10px;
        }
    }

    &__info-wrapper {
        display: flex;
        justify-content: space-between;
        position: relative;
        @media (max-width:1150px){
            justify-content: center;
        }
        @media (max-width:890px){
            flex-direction: column;
            align-items: center;
        }
    }
    
    &__main-img {
        position: absolute;
        width: 24%;
        left: 37%;
        @media (max-width:1150px){
            width: 20%;
            display: none;
        }
        @media (max-width:1040px){
            display: none;
        }
        &_1 {
            position: absolute; 
            top: 69%;
            left: 52%;
            width: 6%;
            @media (max-width:1150px){
                width: 4.5%;
                left: 50%;
                display: none;
            }
            @media (max-width:1040px){
                display: none;
            }
        }
        &_2 {
            position: absolute;
            top: 65%;
            left: 56%;
            width: 6%;
            @media (max-width:1150px){
                width: 4.5%;
                left: 53%;
                display: none;
            }
            @media (max-width:1040px){
                display: none;
            }
        }
    }

    &__format-img {
        position: relative;
        left: -25px;
        &_7 {
        }
        &_8 {
            left: -50px;
        }
    }

    &__right-block {
        padding-top: 10px;
    }

    &__right-block &__block {
        flex-direction: row-reverse;
        justify-content: flex-end;
        @media (max-width:490px){
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }
    }
  
}




.services {


    &__how-work {
    }
}
.services-work {
    display: grid;
    background: cadetblue;
    border-radius: 200px;
    padding: 90px 40px;
    position: relative;
    z-index: 1;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0 50px;
    margin-top: 50px;
    @media (max-width:1150px){
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 65px 0;
        display: none;
    }

    &__block {
        position: relative;
        border: 5px solid gray;
    }

    &__format {
        position: absolute;
        &_1 {
            left: 30px;
            top: -75px;
        }
        &_2 {
            top: -85px;
            display: flex;
            left: 30px;
        }
        &_3 {
            top: -80px;
            display: flex;
            left: 60px;
        }
        &_4 {
            top: -80px;
            display: flex;
        }
    }
        
   

    &__info {
        position: relative;
        z-index: 1;
        background: white;
        font-size: 17px;
        text-align: center;
        @extend %center-flex;
        height: 100%;
        color: black;
        padding: 10px;
        &_long {
            flex-direction: column;
        }
    }

    &__arrow {
        position: absolute;
        right: -68px;
        top: 40%;
        @media (max-width:1150px){
            right: 45%;
            top: 175%;
            transform: rotate(90deg);
        }
    }

    &__arrow-wrapper {
        // position: relative;
    }

    &__arrow-bottom {
        position: absolute;
        left: 45%;
        bottom: -30%;
        img {
            width: 300px;
        }
    }

    &__text-img {
        color: black;
        position: absolute;
        left: 27px;
        font-weight: bold;
        bottom: 27px;
        font-size: 16px;
        &_2 {
            left: 26px;
            bottom: 26px; 
        }
    }

    &__correct-format-img {
        position: relative;
        top: 5px;
    }

    &__text-yes {
        position: absolute;
        left: 25%;
        bottom: 25%;
        color: orange;
    }

    &__text-no {
        position: absolute;
        right: -20%;
        top: 30%;
        color: orange;
        @media (max-width:1150px){
            right: 45%;
            top: -110%;
        }
    }
}


